@import url('https://fonts.googleapis.com/css?family=Karma');

/* BOOTSTRAP */
html {

  background-color: teal;
  color: teal;
  font-family: 'Karma', serif;
}

body {

  margin: 0px;
}

.contenedor {

  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

.contenedor a {

  text-decoration: none;
}

.contenedor * {
        width: 100%;
        box-sizing: border-box;
      }

      .fila::before,
      .fila::after {
        content: "";
        display: table;
        clear: both;
      }

      [class|='col'] {

        float: left;
        min-height: 1px;
        padding: 12px;
      }

      .col-1 { width: 8.3333%; }
      .col-2 { width: 16.6666%; }
      .col-3 { width: 25%; }
      .col-4 { width: 33.3333%; }
      .col-5 { width: 41.6666%; }
      .col-6 { width: 50%; }
      .col-7 { width: 58.3333%; }
      .col-8 { width: 66.6666%; }
      .col-9 { width: 75%; }
      .col-10 { width: 83.3333%; }
      .col-11 { width: 91.6666%; }
      .col-12 { width: 100%; }


/* header */

header {

  background-color: teal;
  color: aquamarine;
}

header a{

  color: aquamarine;
}


/* diseño */

input {

  padding: 7px;
  font-size: 0.8em;
  font-weight: bold;
}

article {

  margin: -2px 0;
}
