@import url('https://fonts.googleapis.com/css?family=Karma');

/* BOOTSTRAP */
html {

  background-color: white;
  color: teal;
  font-family: 'Karma', serif;
}

body {

  margin: 0px;
  background-color: aquamarine;
}

.contenedor {

  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

.contenedor a {

  text-decoration: none;
}

.contenedor * {
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
      }

      .fila::before,
      .fila::after {
        content: "";
        display: table;
        clear: both;
      }

      [class|='col'] {

        float: left;
        min-height: 1px;
        padding: 12px;
      }

      .col-1 { width: 8.3333%; }
      .col-2 { width: 16.6666%; }
      .col-3 { width: 25%; }
      .col-4 { width: 33.3333%; }
      .col-5 { width: 41.6666%; }
      .col-6 { width: 50%; }
      .col-7 { width: 58.3333%; }
      .col-8 { width: 66.6666%; }
      .col-9 { width: 75%; }
      .col-10 { width: 83.3333%; }
      .col-11 { width: 91.6666%; }
      .col-12 { width: 100%; }


/* header */

header {

  padding: 20px 0;
  background-color: teal;
  color: aquamarine;
}

header div label {

  margin: 10px 0px;
}

header a, footer a {

  color: aquamarine;
}

header tbody {

  background-color: aquamarine;
}

header div:nth-of-type(2) table {

  background-color: aquamarine;
  margin-top: 50px;
}

header div:nth-of-type(2) td {

  background-color: teal;
}

/* hr */

#arriba {

  background: url(../img/degr_arriba.PNG);
  background-size: 100% 100%;
  background-image: linear-gradient(teal, aquamarine);
  height: 100px;
  margin-top: -2px;

}

#abajo {

  background: url(../img/degr_abajo.PNG);
  background-size: 100% 100%;
  background-color: turquoise;
  background-image: linear-gradient(aquamarine, teal);
  height: 100px;
  margin-bottom: -2px;
}

/* diseño */

input {

  padding: 7px;
  font-size: 0.8em;
  font-weight: bold;
}

article {

  margin: -2px 0;
}
/* FOOTER */

footer {

  padding-top: 30px;
  text-align: center;
  background-color: teal;
  color: aquamarine;
  padding-bottom: 30px;
}


footer li {

  font-size: 1.4em;
  list-style: none;
  margin-bottom: 40px;
  font-weight: bolder;
  text-decoration: underline;
}

footer input, footer label {

  font-size: 1.2em;
}


footer label {

  font-weight: bold;
}

footer input {

  margin-top: 10px;
}
