/* BOOTSTRAP */

.contenedor {

  background-color: aquamarine;
}

.contenedor * {
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
      }

      .fila::before,
      .fila::after {
        content: "";
        display: table;
        clear: both;
      }

      [class|='col'] {

        float: left;
        min-height: 1px;
        padding: 12px;
      }

      .col-1 { width: 8.3333%; }
      .col-2 { width: 16.6666%; }
      .col-3 { width: 25%; }
      .col-4 { width: 33.3333%; }
      .col-5 { width: 41.6666%; }
      .col-6 { width: 50%; }
      .col-7 { width: 58.3333%; }
      .col-8 { width: 66.6666%; }
      .col-9 { width: 75%; }
      .col-10 { width: 83.3333%; }
      .col-11 { width: 91.6666%; }
      .col-12 { width: 100%; }

/* header */

header {

  background-color: turquoise;
}

#arriba {

  background-color: turquoise;
  background-image: linear-gradient(turquoise, aquamarine);
}

#abajo {

  background-color: turquoise;
  background-image: linear-gradient(aquamarine, turquoise);
}
/* FOOTER */

footer {

  text-align: center;
  background-color: turquoise;
}


footer div:nth-of-type(1) li {

  font-size: 20px;

}


footer div:nth-of-type(2) label {

  font-weight: bold;
}

footer div:nth-of-type(2) input:nth-of-type(2) {

  margin-top: 10px;
}

