header {

  height: 250px;
}

/* logo */
header div:nth-of-type(1) {

  height: 170px;
  width: 170px;
  float: left;
  position: relative;
  left: 90px;
  top: 20px;
}

header div:nth-of-type(2) {

    position: relative;
    float: left;
    width: 50%;
    left: 480px;
    top: 20px;
}

header div:nth-of-type(1) img {

  height: 170px;
  width: 160px;


}
header div:nth-of-type(2) img {

  height: 130px;
  width: 130px;

}

/* menu */

header div:nth-of-type(2) > figure > figcaption {

  position: relative;
  left: 10px;
  top: 20px;
}

header hr {

  position: relative;
  top: 220px;
  width: 90%;
  background-color: grey;
}
article {

   margin-left: 150px;

}

article h2 {

  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 50px;
}

article label, article input{
  position: relative;
  left: 45px;
}
article label:nth-of-type(1){
  margin-right: 50px;

}
article label:nth-of-type(2){
  margin-right: 20px;

}
article label:nth-of-type(3){
  margin-right: 13px;
}
article label:nth-of-type(4){
  margin-right: 30px;
}
article label:nth-of-type(5){
  margin-right: 18px;
}
article label:nth-of-type(6){
  margin-right: 12px;
}
article input:nth-of-type(8), article input:nth-of-type(9), article input:nth-of-type(10){
  margin: 10px;
  position: relative;
  left: 35px;
}
article input:nth-of-type(7), article input:nth-of-type(8),
article input:nth-of-type(9), article input:nth-of-type(10),
article input:nth-of-type(11){
    border-radius: 10px;
}
article input:nth-of-type(7){

  position: relative;
  top: -35px;
  left: 350px;
}
article input:nth-of-type(11){

  position: relative;
  top: -39px;
  left: 350px;
}

footer {
  float: left;
  top: -1px;
  position: relative;
  width: 100%;
}

footer hr {

  width: 90%;
  background-color: grey;
  height: 1px;
}
