
header {

  font-size: 1.6em;
}

/* logo */

header div:nth-of-type(1){

  text-align: center;
}

header div:nth-of-type(1) img {

  width: 60%;

}

/* menu */

header div:nth-of-type(2){

  text-align: center;
}

header table, header table tr, header table tr td {

  border: 1px solid grey;
  border-collapse: separate;
  border-spacing: 5px;

}

header div:nth-of-type(2) table tr td {

  padding: 10px;


}

header div:nth-of-type(2) table tr td img {

  width: 80px;

}


/* login */

header div:nth-of-type(4) {
  text-align: center;
}

header div:nth-of-type(4) input:nth-of-type(3) {

  margin-top: 15px;
  margin-bottom: 5px;
}

header div:nth-of-type(4) label {

  font-weight: bold;
  margin-bottom: 5px;
}

hr {

  height: 2px;
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* article */

article {

  font-size: 1.6em;
}


article h2 {

  font-size: 2.7em;
  font-weight: bold;

}

article h3 {

  font-size: 1.8em;
  font-weight: bold;

}

article ul li{
  list-style-type: decimal;

}

.hr {

  margin-top: 80px;
}

footer {

  font-size: 1.6em;
}
