
header {

  font-size: 1.6em;
}

/* logo */

header div:nth-of-type(1){

  text-align: center;
}

header div:nth-of-type(1) img {

  width: 60%;

}

/* menu */

header div:nth-of-type(2){

  text-align: center;
}

header table, header table tr, header table tr td {

  border: 1px solid grey;
  border-collapse: separate;
  border-spacing: 5px;

}

header div:nth-of-type(2) table tr td {

  padding: 10px;

}

header div:nth-of-type(2) table tr td img {

  width: 80px;

}


/* login */

#login {
  text-align: center;
}

#login label {

  font-weight: bold;
  padding: 10px 0px;
  font-size: 1em;
}

#login a {

  font-size: 0.9em;
}

#login input {

  font-size: 1em;
  margin: 5px 0;
  width: 80%;
}

#login input:nth-of-type(3) {

  margin-top: 15px;
  margin-bottom: 5px;
  width: 40%;
}

/* user */

#user{

  text-align: center;
}

#user figure {

  margin: 0;
}

#user img {

  width: 50%;

}


hr {

  height: 2px;
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* article */

article {

  font-size: 1.6em;
}


article h2 {

  font-size: 2.7em;
  font-weight: bold;

}

article h3 {

  font-size: 1.8em;
  font-weight: bold;

}

article ul li{
  list-style-type: decimal;

}

#imgs img {

  margin-top: 100px;
  width: 350px;
  height: 250px;
}

.hr {

  margin-top: 60px;
}

footer {

  font-size: 1.6em;
}
