header {

  height: 200px;
}

/* logo */
header div:nth-of-type(1){

  height: 170px;
  width: 170px;
  float: left;
  position: relative;
  left: 90px;
  top: 20px;
}

header div:nth-of-type(2) {

    position: relative;
    float: left;
    width: 50%;
    left: 580px;
    top: 20px;
}

header div:nth-of-type(1) img {

  height: 170px;
  width: 160px;


}
header div:nth-of-type(2) img {

  height: 130px;
  width: 130px;

}

/* menu */

header div:nth-of-type(2) > figure > figcaption {

  position: relative;
  left: 10px;
  top: 20px;
}

header hr {

  position: relative;
  top: 220px;
  width: 90%;
  background-color: grey;
}


article {

  margin-left: 180px;

}

article h2 {

  margin-top: 50px;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 50px;
}

article table:first-child {

  width: 80%;
}


table, tr, th, td{

  border: 2px grey solid;
  padding: 5px;
}

article table th {

  background-color: grey;
  color: white;
}

article table tr:nth-of-type(2n+2){
  background-color: lightgrey;
}

article table {

  margin-bottom: 25px;
}

footer {
  float: left;
  top: -1px;
  position: relative;
  width: 100%;
}

footer hr {

  width: 90%;
  background-color: grey;
}
